body {
  font-family: serif;
  font-size: large;
  line-height: 1.42857143;
  color: #333;
  background-color: #4091ba;
  text-align: center;
}

img {
  max-width: 50%;
  height: auto;
  padding: 10px;
}
